body{
    background-color: grey;
}

span{
    font-style: bold;
}

.haut{
    text-align: center;
}

.liste{
    text-align: center;
}
h3{
    text-align: center;
}

section{
    background-color: white;
    margin: 10px 10px;
    padding-bottom: 5px;
}
ul{
    text-align: justify;
    width: 20%;
    margin: auto;

}

li{
    margin-bottom: 10px;
}

.liste p{
    margin: auto;
    width: 30%;
    font-style: italic;
}

